.user-form {
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 15px;
  width: 300px;
}

.user-label {
  position: relative;
  // outline: 1px solid green;
  margin-bottom: 8px;
  padding-top: 8px;
}

.user-input {
  width: 100%;
  margin-top: 8px;
  border-radius: 6px;
  outline: none;
  padding-left: 8px;
  height: 30px;
  border: 1px solid cornflowerblue;
}

.user-input:focus + .icon-user,
.user-input:not(:placeholder-shown) + .icon-user {
  opacity: 0;
}

.user-input:not(:placeholder-shown)::placeholder {
  opacity: 0;
}

.user-input:valid {
  border: 1px solid green;
}

.user-input:focus::placeholder {
  opacity: 0;
}
.user-input::placeholder {
  color: cornflowerblue;
  padding-left: 20px;
  font-size: 14px;
  transition: opacity 300ms linear;
}

.icon-user {
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 12px;
  height: 12px;
  fill: cornflowerblue;
  transition: opacity 300ms linear;
}

.user-button {
  align-self: center;
  min-width: 100px;
}
.user-button:disabled {
  background-color: darkgray;
}
