<section>
  <form class="user-form" autocomplete="off" name="userForm">
    <label class="user-label">
      Name
      <input
        type="text"
        name="name"
        class="user-input"
        placeholder="Alex Alexeev"
        minlength="3"
        required
      />
      <svg class="icon-user">
        <use href="./icons/section1_sprite.svg#icon-user" />
      </svg>
    </label>

    <label class="user-label">
      Email
      <input
        type="email"
        name="email"
        class="user-input"
        required
        placeholder="alex@gmail.com"
      />
      <svg class="icon-user">
        <use href="./icons/section1_sprite.svg#icon-drawer" />
      </svg>
    </label>
    <button type="submit" class="user-button" >Login</button>
  </form>
</section>
